<div class="outerdiv">
    <div class="row d-flex justify-content-center align-items-start">
        <div class="col-sm-12 col-lg-6">
            <div class="txtdiv">
                <h2>Let’s <span>Get In Touch</span> With Us</h2>
            </div>
            <div class="d-flex justify-content-start align-items-center text-light my-5">
                <i class="pi pi-whatsapp fs-2 mx-3"></i>
                <i class="pi pi-instagram fs-2 mx-3"></i>
                <i class="pi pi-linkedin fs-2 mx-3"></i>
                <i class="pi pi-youtube fs-2 mx-3"></i>
            </div>
            <div class="d-flex justify-content-start align-items-center text-light my-4">
                <div class="icondiv">
                    <i class="pi pi-phone fs-3 mx-3"></i>
                </div>
                <h5 class="mx-4">+92-3317749251</h5>
            </div>
            <div class="d-flex justify-content-start align-items-center text-light my-4">
                <div class="icondiv">
                    <i class="pi pi-envelope fs-3 mx-3"></i>
                </div>
                <h5 class="mx-4">Createimpact@gmail.com</h5>
            </div>
            <div class="d-flex justify-content-start align-items-center text-light my-4">
                <div class="icondiv">
                    <i class="pi pi-home fs-3 mx-3"></i>
                </div>
                <h5 class="mx-4">ICCBS Karachi</h5>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="my-3 text-light">
                <label for="exampleFormControlInput1" class="form-label fs-5 fw-bold">Name</label>
                <input type="text" class="form-control input" id="exampleFormControlInput1" placeholder="Your Name">
            </div>
            <div class="my-4 text-light">
                <label for="exampleFormControlInput2" class="form-label fs-5 fw-bold">Email</label>
                <input type="text" class="form-control input" id="exampleFormControlInput2" placeholder="Your Email">
            </div>
            <div class="my-4 text-light">
                <label for="exampleFormControlInput3" class="form-label fs-5 fw-bold">Message</label>
                <textarea type="text" class="form-control input" id="exampleFormControlInput3" rows="5" placeholder="Your Message"></textarea>
            </div>
            <button class="btn w-100 joinbtn">Contact Us</button>
        </div>
    </div>
</div>
