
.outerdiv{
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00150ff4;
}

@media (max-width: 576px){
    .outerdiv{
        padding: 80px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #00150ff4;
    }
}

.hoverclr:hover{
    color: #00D094;
    transition: 0.5s ease all;
}

.txtdiv h2{
    font-size: 3rem;
    font-weight: 800;
    color: white;
}
.txtdiv span{
    color: #00D094;
}

.icondiv{
    /* padding: 20px; */
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #112721;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    background-color: #2f443f;
    border-color: rgb(134, 134, 134);
    color: #bdbdbd;
    padding: 10px;
}
.input::placeholder{
    color: #bdbdbd;
}

.joinbtn{
    background-color: #00D094;
    color: white;
    border-radius: 10px;                   
    padding: 10px 60px;
}

.joinbtn:hover{
    background-color: #03b381;
    color: white;
    transition: 0.5s ease all;
}