<section class="outerservice">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center flex-column mb-5">
            <h2 class="headingtxt my-2"><span>Services</span> We Offer</h2>
            <p class="fs-5 text-light my-2">Unlock the full potential of our product with our amazing features and top-notch.</p>
        </div>
        <div class="row g-5" style="display: flex; justify-content: space-around; align-items: center;">
            <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let detail of carddetails">
                <app-card [item]="detail"></app-card>
            </div>
        </div>
    </div>
</section>

