.outerservice{
    background-color: #00150f;
    padding: 130px;
    /* height: 80vh; */
}

.headingtxt{
    font-size: 3.5rem;
    font-weight: 800;
    color: white;
}
.headingtxt span{
    color: #00D094;
}