.example-accordion {
    display: block;
    max-width: 500px;
  }
  
  .example-accordion-item {
    display: block;
    border-top: solid 0.5px rgb(98, 98, 98);
    border-bottom: solid 0.5px rgb(98, 98, 98);
    /* background-color: #091c16; */
  }
  
  .example-accordion-item + .example-accordion-item {
    border-top: none;
  }
  
  .example-accordion-item-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    color: white;
  }
  
  .example-accordion-item-description {
    font-size: 0.85em;
    color: #ffffff;
  }
  
  .example-accordion-item-header,
  .example-accordion-item-body {
    padding: 16px;
  }

  .example-accordion-item-body{
    color:rgb(170, 170, 170)
  }
  
  .example-accordion-item-header:hover {
    cursor: pointer;
    background-color: #051913;
  }
  
  .example-accordion-item:first-child {
    border-top: solid 1px transparent;
    border-bottom: solid 1px rgb(98, 98, 98);
  }
  
  .example-accordion-item:last-child {
    border-top: solid 1px rgb(98, 98, 98);
    border-bottom: solid 1px transparent;
  }
  