.headingtxt{
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    color: white;
}
.headingtxt span{
    color: #00D094;
}

.para{
    text-align: center;
    color: rgb(153, 153, 153);
}

.outerbenefit{
    background-color: #00150F;
    padding: 80px 130px;
}

@media (max-width:576px){
    .outerbenefit{
        background-color: #00150F;
        padding: 40px 130px;
    }
}

.div1{
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    background-color: #314f47b8;
    position: absolute;
    top: 20%;
    left: 10%;
}
.div1 h3{
    color: white;
}
.div1 p{
    color: rgb(153, 153, 153);
}
.div2{
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    background-color: #314f47b8;
    position: absolute;
    top: 70%;
    left: 55%;
}
.div2 h3{
    color: white;
}
.div2 p{
    color: rgb(153, 153, 153);
}

.smooth{
    transition: 0.5s ease all;
}

.imgshadow::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 200px;
    width: 200px;
    backdrop-filter: blur(10px);
    filter: blur(100px);
    background-color: #16d4668f;
    transform: translate(-50%, -50%);
    z-index: -1;
}

