<section class="outerbenefit">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <h2 class="headingtxt my-3"><span>Frequently</span> Asked Question</h2>
            <p class="fs-5 para my-3">Welcome to the FAQs section of Crypto CI Here we have gathered answers to some asked questions, about cryptocurrencies, investing and our platform.</p>
            <!-- <p class="fs-5 para my-3">Hey there! Got questions? We've got answers. Check out our FAQ page for all the deets. Still not satisfied? Hit us up.</p> -->
        </div>
        <div class="row g-5 my-5" style="display: flex; justify-content: space-around; align-items: center;">
            <div class="col-12-sm col-lg-6 d-flex justify-content-center align-items-center">
                <app-faqaccordion></app-faqaccordion>
            </div>
            <div class="col-12-sm col-lg-6 d-flex justify-content-center">
                <div class="imgshadow">
                    <img class="img-fluid mt-5" src="https://thetork.com/demos/html/bitrader/assets/images/others/1-dark.png" alt="">
                </div>
            </div>
        </div>
</section>