<section class="outerservice">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center flex-column mb-5">
            <h2 class="headingtxt text-center my-2"><span>Articles</span> For You</h2>
            <p class="fs-5 text-center text-light my-2">Hey there pro traders, check out these articles with tips to take your trading game to the next level!</p>
        </div>
        <div class="row g-5 my-4" style="display: flex; justify-content: center; align-items: center;">
            <div class="col-sm-12 col-md-6 col-lg-4 p-0 p-md-4 d-flex justify-content-center" *ngFor="let item of myblog">
                <app-blogcard (readmore) = "readmore($event)" [item] = "item"></app-blogcard>
            </div>
        </div>
    </div>
</section>