<div class="card" style="width: 20rem;">
    <div class="imgcontainer">
        <img src="https://thetork.com/demos/html/bitrader/assets/images/blog/1.png" class="card-img-top" alt="...">
    </div>
    <div class="card-body p-0">
      <h5 class="card-title">Online Trading For Beginners</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum commodi ipsam obcaecati impedit tempora...</p>
      <a href="#" class="btn joinbtn">Read More</a>
    </div>
  </div>