<section class="outerbenefit">
    <div class="container">
        <div class="row g-5" style="display: flex; justify-content: space-around; align-items: center;">
            <div class="col-12-sm col-lg-6 p-0 p-md-4">
                <h2 class="headingtxt my-4"><span>Benefits</span> We Offer</h2>
                <p class="fs-5 text-light my-4">Unlock the full potential of our product with our amazing features and top-notch.</p>
                <div class="d-flex justify-content-start align-items-center outertextcard firstcard">
                    <h5>Lending Money For Investment Of Your New Projects</h5>
                </div>
                <div class="d-flex justify-content-start align-items-center outertextcard">
                    <h5>Lending Money For Investment Of Your New Projects</h5>
                </div>
                <div class="d-flex justify-content-start align-items-center outertextcard">
                    <h5>Lending Money For Investment Of Your New Projects</h5>
                </div>
                <div class="d-flex justify-content-start align-items-center outertextcard">
                    <h5>Lending Money For Investment Of Your New Projects</h5>
                </div>
            </div>
            <div class="col-12-sm col-lg-6 d-flex justify-content-end">
                <img class="img-fluid animate mt-5" src="https://thetork.com/demos/html/bitrader/assets/images/feature/1.png" alt="">
            </div>
        </div>
    </div>
</section>
