<section class="outerbenefit">
    <div class="container">
        <div class="row g-5" style="display: flex; justify-content: space-around; align-items: center;">
            <div class="col-12-sm col-lg-6 d-flex justify-content-start">
                <div class="position-relative">
                    <img class="img-fluid mt-5" src="https://thetork.com/demos/html/bitrader/assets/images/about/1-dark.png" alt="">
                    <div class="div1">
                        <h3>10 Years</h3>
                        <p>Consulting Experience</p>
                    </div>
                    <div class="div2">
                        <h3>10 Years</h3>
                        <p>Consulting Experience</p>
                    </div>
                </div>
            </div>
            <div class="col-12-sm col-lg-6">
                <h5 class="headingtxt my-4">Meet <span>Our Company</span> Unless Miss The Opportunity</h5>
                <p class="fs-6 para my-4">Hey there! So glad you stopped by to Meet Our Company. Don't miss out on this opportunity to learn about what we do and the amazing team that makes it all happen! Our company is all about creating innovative solutions and providing top-notch services to our clients. From start to finish, we're dedicated to delivering results that exceed expectations.</p>
            </div>
        </div>
    </div>
</section>
