<section class="outerbenefit">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center flex-column mb-5">
            <h2 class="headingtxt my-2"><span>Services</span> We Offer</h2>
            <p class="fs-5 text-light my-2">Unlock the full potential of our product with our amazing features and top-notch.</p>
        </div>
        <div class="roadmap__wrapper">
            <div class="row gx-5" style="display: flex; justify-content: space-around; align-items: center;">
                <div class="col-12-sm col-lg-6 hide p-0 p-md-4">
                    <div class="d-flex justify-content-center align-items-start flex-column outertextcard leftcard">
                        <h3>Project Research</h3>
                        <p>Project research is the backbone of any successful project. It involves gathering information, setting objectives, and analyzing data to ensure the project is achievable. Without proper research, projects can fail due to lack of knowledge.</p>
                    </div>
                </div>
                <div class="col-12-sm col-lg-6 p-0 p-md-4">
                    <div class="d-flex justify-content-center align-items-start flex-column outertextcard rightcard">
                        <h3>Project Research</h3>
                        <p>Project research is the backbone of any successful project. It involves gathering information, setting objectives, and analyzing data to ensure the project is achievable. Without proper research, projects can fail due to lack of knowledge.</p>
                    </div>
                </div>
                <div class="col-12-sm col-lg-6 p-0 p-md-4">
                    <div class="d-flex justify-content-center align-items-start flex-column outertextcard leftcard">
                        <h3>Project Research</h3>
                        <p>Project research is the backbone of any successful project. It involves gathering information, setting objectives, and analyzing data to ensure the project is achievable. Without proper research, projects can fail due to lack of knowledge.</p>
                    </div>
                </div>
                <div class="col-12-sm col-lg-6 hide p-0 p-md-4">
                    <div class="d-flex justify-content-center align-items-start flex-column outertextcard rightcard">
                        <h3>Project Research</h3>
                        <p>Project research is the backbone of any successful project. It involves gathering information, setting objectives, and analyzing data to ensure the project is achievable. Without proper research, projects can fail due to lack of knowledge.</p>
                    </div>
                </div>
                <div class="col-12-sm col-lg-6 hide p-0 p-md-4">
                    <div class="d-flex justify-content-center align-items-start flex-column outertextcard leftcard">
                        <h3>Project Research</h3>
                        <p>Project research is the backbone of any successful project. It involves gathering information, setting objectives, and analyzing data to ensure the project is achievable. Without proper research, projects can fail due to lack of knowledge.</p>
                    </div>
                </div>
                <div class="col-12-sm col-lg-6 p-0 p-md-4">
                    <div class="d-flex justify-content-center align-items-start flex-column outertextcard rightcard">
                        <h3>Project Research</h3>
                        <p>Project research is the backbone of any successful project. It involves gathering information, setting objectives, and analyzing data to ensure the project is achievable. Without proper research, projects can fail due to lack of knowledge.</p>
                    </div>
                </div>
                <div class="col-12-sm col-lg-6 p-0 p-md-4">
                    <div class="d-flex justify-content-center align-items-start flex-column outertextcard leftcard">
                        <h3>Project Research</h3>
                        <p>Project research is the backbone of any successful project. It involves gathering information, setting objectives, and analyzing data to ensure the project is achievable. Without proper research, projects can fail due to lack of knowledge.</p>
                    </div>
                </div>
                <div class="col-12-sm col-lg-6 hide p-0 p-md-4">
                    <div class="d-flex justify-content-center align-items-start flex-column outertextcard rightcard">
                        <h3>Project Research</h3>
                        <p>Project research is the backbone of any successful project. It involves gathering information, setting objectives, and analyzing data to ensure the project is achievable. Without proper research, projects can fail due to lack of knowledge.</p>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</section>

