.outerdiv{
    background-image: url("https://thetork.com/demos/html/bitrader/assets/images/header/1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    padding: 6rem;
    margin-top: 75px !important;
}

.innerdiv h1{
    font-size: 3rem;
}
.innerdiv h6{
    font-size: 1.2rem;
}

@media (max-width:576px){
    .outerdiv{
        padding: 3rem;
    }
    .innerdiv h1{
        font-size: 2.5rem;
    }
}