<div class="hero">
    <div class="container p-5 mt-5">
        <div class="row d-flex justify-content-center align-content-center">
            <div class="col-sm-12 col-lg-6 text-light d-flex justify-content-center align-items-start flex-column p-4">
                <img class="spinanimate my-3" src="https://thetork.com/demos/html/bitrader/assets/images/banner/home1/3.png" alt="" width="100px">
                <h1 class="herotxt">CryptoCI</h1>
                <p class="heropara">Power at your fingertips</p>
                <p class="heropara2">Our flexible, secure, and customizable platform helps you achieve your investment goals.</p>
                <div>
                    <button class="btn joinbtn">Join Us</button>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 d-flex justify-content-center position-relative align-items-start flex-column">
                <img class="heroimg animate img-fluid mt-5" src="https://thetork.com/demos/html/bitrader/assets/images/banner/home1/1-dark.png" alt="">
            </div>
        </div>
    </div>
</div>
