.hero{
    height: 100vh;
    background-color: #00150F;
    background-image: url("https://thetork.com/demos/html/bitrader/assets/images/banner/home1/bg-dark.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}



.herotxt{
  color: #00D094;
  font-size: 4rem;
  font-weight: bold;
}

.heropara{
  font-size: 2.5rem;
}

.hometxt{
  text-align: justify;
}

.joinbtn{
    border: 1px solid #00D094;
    color: #00D094;
    border-radius: 10px;                   
    padding: 10px 60px;
}

.joinbtn:hover{
    background-color: #00D094;
    color: white;
    transition: 0.5s ease all;
}

@media (max-width:576px){
  .herotxt{
    font-size: 3rem;
    text-align: start;
  }
  
  .heropara{
    font-size: 2rem;
    text-align: start;
  }
  .heropara2{
    text-align: start;
  }
  .hero{
    height: 135vh;
    background-color: #00150F;
    background-image: url("https://thetork.com/demos/html/bitrader/assets/images/banner/home1/bg-dark.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:992px){
  /* .heroimg{
    position: absolute;
    opacity: 0.1;
    top: -250px;
  } */

  .hero{
    height: auto;
    background-color: #00150F;
    background-image: url("https://thetork.com/demos/html/bitrader/assets/images/banner/home1/bg-dark.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
