<div class="hero mt-5">
    <div class="container p-5 mt-5">
        <div class="row d-flex justify-content-center align-content-center">
            <div class="col-sm-12 col-lg-6 text-light position-relative d-flex justify-content-center align-items-start flex-column p-4">
                <img class="spinanimate my-3" src="https://thetork.com/demos/html/bitrader/assets/images/banner/home1/3.png" alt="" width="100px">
                <h1 class="herotxt">Welcome to<br>Crypto CI</h1>
                <p class="heropara">Guide to the Future of Finance</p>
                <p class="heropara2">At Crypto CI we strongly believe in the game changing possibilities of cryptocurrencies. As the digital world keeps advancing we're here to support you throughout this journey.</p>
                <div>
                    <button class="btn joinbtn" routerLink="/contact">Join Us</button>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 d-flex justify-content-center align-items-start flex-column">
                <img class="heroimg animate img-fluid mt-5" src="https://thetork.com/demos/html/bitrader/assets/images/banner/home1/1-dark.png" alt="">
            </div>
        </div>
    </div>
</div>
